@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities"; 
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* add the code bellow */ 
@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
   /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
  }
}



/*** SWIPE LIST OVERRIDES **/
.swipe-action__leading {
    background-color: #2563eb;
    color: white;
    margin-bottom: 2rem;
}

.swipe-action__trailing {
    background-color: #EC4899 ;
    margin-bottom: 2rem;
    color: #ffffff;
}

.swipeable-list .swipe-action {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    text-align: center;
    padding-top: 0.75rem; /* Ajuste del padding */
    padding-bottom: 0.75rem;
    height: 100%; /* Asegúrate de que la altura coincida con el contenedor */
    color: white;
    box-sizing: border-box; /* Incluye el padding en el tamaño del contenedor */
} 
